section.hardwares {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.hardwares .loading-spinner {
    height: 150px;
    width: 150px;
}
